<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="text-success">
        <h2><%=@exercise.title %></h2> 
      </div>
      <h2 class="text-default">Introduction</h2>
      <div class="text-default">
        <%=@exercise.introduction %>
      </div>
    </div>
    <div class="col-5">
      <div class="float-right">
        <div class="get-started">
          <h4>Get started</h4>
          <p>We've created a step-by-step set of instructions to help you quickly install Exercism and get started, so you can start learning.</p>
          <%=link_to "Start walk-through", solutions_path(exercise_id: @exercise.id), class: "btn btn-primary btn-block btn-sm", method: :post%>
        </div>
      </div>
    </div>
  </div>
</div>
