<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="text-success">
        <h2><%=@exercise.title %></h2> 
      </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Introduction</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Test suite</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Solution</a>
        </div>
      </nav>
      <div class="tab-content pt-2" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> <p class="px-3"><%=@exercise.introduction %></p> </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <% if @solution.present? %>
            <pre class="line-numbers">
              <code class="language-ruby" >
                <%= @solution.content %>
              </code>
            </pre>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="float-right">
        <div class="get-started">
          <h4>Well done on solving this exercise!</h4>
          <div><%= render 'solutions/form' %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
</script>
<style type="text/css">
  
</style>
